@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import './components/general.scss';
@import './components/minting-dapp.scss';

body {
  margin: 0px;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.portraits {
  padding: 1em 4em 1em 4em;

}

h1 {
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: .5em;
  font-weight: bold;
  font-size: 3em;
  filter: drop-shadow(30px 10px 4px #4444dd);
  z-index: 99;
}

p {
  color: white;
  text-align: left;
  padding-top: 1em;
  margin: auto;
  padding-left: 4em;
  padding-right: 4em;
}

#logo {
  padding-top: 45px;
 }

 /* .space-y-\[32px]>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(32px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(32px * var(--tw-space-y-reverse));
 } */

nav{
  min-height: 8vh;
  color: #ddd
}

nav a{
  text-decoration: none;
  color: #ddd;
}

nav a:hover{
  text-decoration: none;
  background-color: #ddd;
  color:#060126;
  border-radius: 15%;
  padding: 1vh;
}

nav i{
  text-decoration: none;
  color: #ddd;
}

nav i:hover{
  text-decoration: none;
  background-color: #ddd;
  color:#060126;
  border-radius: 15%;
  padding: 1vh;
}

 .firstScreen{
  //height: 100vh;
  display: flex;
  padding-top: 8vh;
}

#dappContainer{
  padding-left: 10%;
  padding-right: 10%; 
  padding-bottom: 3%;
  min-height: 100vh;
}

.preview img{
  position:relative;
  bottom: 0%;
  top: 0% ;
}

.active{
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #060126;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 10vh;
  padding: 0px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topnav div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    margin: 1vh;
  }

.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 1vh 1vh;
  text-decoration: none;
  font-size: 17px;
}

.topnav.i{
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 1vh 1vh;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

#navLogo {
  max-height: 20vh;
  max-width:  10vh;
}

.topnav #icon{
  max-height: 30px;
  max-width:  30px;
  
}

.topnav #icon:hover{
  filter: invert(100%)
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {display: contents; }
  .topnav.responsive .icon {
    position: flex;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive.i{
    float: left;
    display: contents;
  }
  .topnav.responsive div.nav{
    display: contents;
  }
}


.moreScreen1{
  min-height: 100vh;
}

.moreScreen2{
  min-height: 100vh;
}