@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import './components/general.scss';
@import './components/minting-dapp.scss';

body {
  margin: 0px;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.portraits {
  padding: 1em 4em 1em 4em;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: .5em;
  font-weight: bold;
  font-size: 3em;
  filter: drop-shadow(30px 10px 4px #4444dd);
  z-index: 99;
}

.moreScreen1 p {
  color: #ddd;
  text-align: left;
  padding-top: 1em;
  margin: auto;
  padding-left: 4em;
  padding-right: 4em;
}

#logo {
  padding-top: 45px;
 }

 /* .space-y-\[32px]>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(32px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(32px * var(--tw-space-y-reverse));
 } */

#mobileMenuLogo{
  text-align: -webkit-center;
}

#navLogo {
  max-height: 8.6vh;
}

#mobileMenuNav a{
  text-decoration: none;
  color: #ddd;
  padding: 1vh;
}

#mobileMenuNav a:hover{
  text-decoration: none;
  background-color: #ddd;
  color:#060126;
  border-radius: 100%;
}

#mobileMenuIcon i{
  text-decoration: none;
  color: #ddd;
  padding: 1vh;
  font-size: 1.5hv;
}

#mobileMenuIcon i:hover{
  text-decoration: none;
  background-color: #ddd;
  color:#060126;
  border-radius: 100%;
}

 .firstScreen{
  //height: 100vh;
  display: flex;
  padding-top: 9.25vh;
}

#dappContainer{
  padding-left: 10%;
  padding-right: 10%; 
  padding-bottom: 3%;
  min-height: 100vh;
}

.preview img{
  position:relative;
  bottom: 0%;
  top: 0% ;
}

.active{
  display: block;
  text-align: center;
}

.moreScreen1{
  min-height: 100vh;
}

.moreScreen2{
  min-height: 100vh;
}